<footer id="footerDiv" class="d-flex flex-wrap justify-content-between text-white bg-dark align-items-center py-3 border-top">
    <div class="col-md-4 d-flex align-items-center ">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>
        <span class="mb-3 mb-md-0 text-white">Hackstreet boys © 2023 Hack The Break</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-white" href="#"><i class="fa-brands fa-instagram"></i></a></li>
        <li class="ms-3"><a class="text-white" href="#"><i class="fa-brands fa-facebook"></i></li>
        <li class="ms-3"><a class="text-white" href="#"><i class="fa-brands fa-twitter"></i></li>
    </ul>
</footer>