<nav id="navbarPlaceholder" class="navbar navbar-expand-lg bg-dark navbar-fixed fixed-top">
    <div class="container-fluid text-white">
        <a class="navbar-brand text-white" href="/"><b>JobTinder</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white"><i class="fa-solid fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link text-white" href="favourite.html">Favourites</a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Menu
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/aboutus">About Us</a></li>
                        <hr class="dropdown-divider" />
                        <li><a class="dropdown-item" href="/help">Help</a></li>
                        <li>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- <form class="d-flex" role="search">
                <input id="city" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button type="submit" class="btn btn-outline-primary text-white" id="newCity">Search</button>
            </form> -->
        </div>
    </div>
</nav>